
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Section C */
  
  .c {
    margin: 40px 40px 40px 40px;
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .c-col {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    flex-grow: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
     /* flex: 1 1 calc(33% - 20px);
    max-width: calc(33% - 20px);  */
    
  }
  
  .c-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .c-h1 {
    font-size: 50px;
    font-weight: 600;
  }
  
  .c-p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  
  .c-h4 {
    font-size: 21px;
    font-weight: 600;
    margin: 15px 0 5px 0;
  }
  
  .rating i {
    color: green;
  }
  
  .number {
    padding-left: 5px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    vertical-align: middle;
  }
  
  .c-icon img {
    width: 40px;
    height: auto;
  }
  

  @media(max-width:632px){.c-img{width: 100%;}}
/* ------section-d--------- */
.d{
margin-left: 40px;
margin-right: 40px;
margin-top: 60px;
margin-bottom: 60px;}

.d-section-main-heading{font-size: 50px;
font-weight: 600;
display: flex;
justify-content: center;
align-items: center;}

.col-left{
padding: 20px;}
.col-right{
padding-left: 20px;
padding-right: 20px;}

.section-d-row{display: flex;
  justify-content: space-between;
  margin-top:50px;
  gap:40px;
 
}

.col-left{flex-grow: 1;
width: 100%;}
.col-right{flex-grow: 1;}

.h3-left{font-size: 38px;
font-weight: 600;
}

.p-left{font-size: 16px;
font-weight: 400;}

.d-button{display:flex;

gap:20px;
margin-top: 30px;}
.left-btn{padding:15px 35px;
border-radius: 40px;
background-color: black;
color:white;
border:none;}

.right-btn{padding:15px 35px;
  border-radius: 40px;
  background-color:#FEFEFF;
  color:black;
  border: 1px solid #BEBEBE;
 }

  .status {display: flex;
  gap:110px;
margin-top: 60px;
}

strong{font-size: 40px;}

.d-img{width: 100%;}

/* --------section d---- */
@media(max-width:1120px){.section-d-row{flex-direction:column;}}

@media(max-width:550px){.d-section-main-heading{font-size: 35px;
padding-left:25px;}
.h3-left{font-size: 30px;
font-weight: 600;}
.p-left{padding:0 8px;}
.d-button{flex-direction: column;}
.left-btn,.right-btn{padding-right: 5px;
  padding-left: 5px;
  margin:0px 50px;
width: 50%;}
.status{flex-direction: column;
gap: 20px;
margin:9px 100px;}
.d-img{margin-top:-50px;}}

/* ---last-section---- */
.last{background:linear-gradient(90deg, #C1DEE8 0%, #FBD9B9 100%);
  
margin-left: 40px;
margin-right: 40px;
margin-top: 60px;
margin-bottom: 60px;}

.last-section-row{display: flex;
gap:20px;}

.last-section-left-col{flex-grow: 1;
  width: 100%;
  
  padding-top:30px;
  padding-left:20px;
}
.last-section-right-col{flex-grow: 2;
 
width: 100%;

display: flex;
justify-content: flex-end;}

.last-section-btn{display: flex;
background-color: yellow;}

.p-left-left{margin-top: 10px;
padding-left:8px;}
.last-section-img{width: 60%;}

/* ---media query--- */
@media(max-width:1120px){.last-section-row{flex-direction:column;}
.last-section-img{width: 100%;}
}
