@import url(./c.css);




*{margin: 0;
padding:0;
box-sizing: border-box;}

body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;}

.nav {background-color:#FAFAFA;
display: flex;
justify-content:space-between;
align-items: center;
padding-right: 40px;
padding-left: 40px;
padding-top: 16px;
padding-bottom: 20px;
margin-right: 40px;
margin-left: 40px;


margin-top:34px;}

ul{display: flex;
gap:20px;
align-items: center;
justify-content: center;
background-color:#FEFEFF;
padding:10px 15px;
border-radius: 30px;
position: relative;
top:8px;
color: #000000 !important;
font-weight: 400;}

ul li{list-style: none;}
ul li a{text-decoration: none;
font-size: 16px;
}
.custom-icon{position: relative;
top:4px;}

.btn {display: flex;
gap:50px;
outline: none;
}
.btn button {background-color:#FEFEFF;
font-size: 16px;
padding:15px 35px;
border:none;
border-radius: 30px;
outline: none;
}

.btn button:hover{background-color: blue;
color: white;}

.btn-1:hover {border:2px solid black;
color:red !important;}
  

    .btn-1 {background-color:transparent !important;}

    .hamburger {font-size: 40px;
    }

    @media (max-width:500px){.toggle-btn{display:none;}
ul{flex-direction: column;}
.btn{flex-direction: column;}}

/* ---home---- */
.home {margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
padding-left: 40px;
padding-right: 40px;
margin-right: 40px;
margin-left: 40px;
 background: linear-gradient(90deg, #C1DEE8 0%, #FBD9B9 100%);

}
.row {display: flex;
    flex-wrap: wrap;
   
justify-content: space-between;
padding-top: 50px;
padding-bottom: 20px;}
p{font-size: 16px;}
h1{font-size: 67px;
font-weight: 600;
color:#000000;}

.col-1{flex-grow: 1;}
.col-2{flex-grow: 1;}
.home-img{width:100%;}

.input-btn{display: flex;
    align-items: center;
    border-radius: 40px;
    background-color:white;
    width: 469px;
    }
    #last-input{background-color: transparent;
    border:none;
padding:10px;
flex-grow: 1;
outline: none;
border-radius: 40px;}

.input-btn-2 {background-color: black;
    padding:10px 20px;
    width: 147px;
    color: white;
    outline: none;
    border-radius: 40px;
   
   
    }
    
@media(max-width:620px){.input-btn{
width: 200px;
position: relative;
right: 10px;
}
.input-btn-2{width: 80px;
font-size: 6px;}
#last-input{font-size: 6px;
    
    
}
.btn-responsive{position: relative;
right: 20px;}
.c-p{font-size: 28px;}
.c-div{flex-direction: column;
}
.c-icon{margin-top: 30px;
}
ul{position: relative;
top:120px;
right: 50px;}
.logo{position: relative;
top:-90px;
left:60px;}
.btn{position: relative;
top:120px;
gap:10px;}
.nav{padding-bottom: 130px;}
.c-col{width: 100%;

margin-right: 190px;}
.p-b{width: 100%;}
.c-p{font-size: 18px;}
.btn .btn-emergency{font-size:10px;
padding:10px 20px !important;
background-color: black !important;
color:white;
}
.emergency{width: 120px;}
.issue{font-size: 30px;}
.input-btn{width: 160px;
margin-left: 10px;}}







@media(max-width:1116px){.row{flex-direction: column;}
.col-1,.col-2{flex-grow: 0;
width: 100%;}}

@media(max-width:600px){.col-1,.col-2{width: 70%;}



h1{font-size: 40px;}
.b-h1{font-size: 40px !important;
    
}
.p-b{width: 100%;}}

/* ----section-b----- */
.b{margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
padding-left: 40px;
padding-right: 40px;
margin-right: 40px;
margin-left: 40px;}

.p-b {display: flex;
justify-content: center;}

.b-h1{display: flex;
justify-content: center;
font-size: 50px;
font-weight: 600;}

.b-h2{font-size: 28px;
font-weight: 600;}

.col-1 {margin-top: 50px;
flex-grow: 1;}

@media(max-width){.col-1{flex-grow: 0 !important;
width: 100% !important;
}}


  